body {
    margin: 0;
    background: linear-gradient(to bottom, #517aff, #0002cc);
}

.noscript {
    text-align: center;
    min-height: 100vh;
    max-width: 768px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.noscript h1 {
    font-size: 64px;
}

a, a:visited {
    color: white !important;
}

a:hover, a:focus, a:active {
    color: lightgray !important;
}
