main {
    min-height: 0;

    display: flex;
    flex-direction: row;
}

#jsonPanel, #formatterPanel {
    width: calc((100% - 250px) / 2);
    padding: 16px;
    border-right: 1px solid lightgray;
    overflow-y: auto;
}

.parseStep-help {
    display: block;
    margin-bottom: 8px;
}

.parseStep-button {
    margin-bottom: 8px;
}
